@using Bulky_Models

@{
    ViewData["Title"] = " Create New Category";
}

@* <!--header and footer are present in _Layout.cshtml -->
<div class="text-center">
    <h1 class="display-4">Welcome home</h1>
</div> *@
<!-- here we create an object of category model -->
@model Category

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white p-0">Create Category</h2>
            </div>
        </div>
    </div>
    <!-- here we send the details using post for which we use httppost in controllers
        it will have the obj of category that needs to be added to the table
    -->
    <div class="card-body p-4">
        <form method="post" class="row">
            @* <input asp-for="Id" hidden/> *@
            <div class="border p-3 ">
                <!--here we can see all the error message at one place only-->
                <div asp-validation-summary="ModelOnly"></div>
                @* <div asp-validation-summary="All"></div><!-- this will not show error for any property -->
        <div asp-validation-summary="None"></div><!-- this here will not show any validation error--> *@

                <div class="form-floating py-2 col-12">
                    <input asp-for="Name"  class="form-control border-0 shadow" />
                    <label asp-for="Name" class="ms-0 pl-0"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="DisplayOrder"  class="form-control border-0 shadow" />
                    <label asp-for="DisplayOrder" class="ms-0 pl-0"></label>
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>
                <div class="row pt-4">
                    <div class="col-6 col-md-3 p-1">
                        <button type="submit" class="btn btn-primary form-control">Create</button>

                    </div>
                    <div class="col-6 col-md-3 p-1">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary border form-control">Back to list</a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<!-- here we send the details using post for which we use httppost in controllers
    it will have the obj of category that needs to be added to the table
-->

 @* here we add the validation scripts for partial view for client side validation--> *@
 @* client side validation - user input is validated in the browser before it is sent to the server-> *@

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}   
